## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
spring.datasource.url={{ service_install_run_data_source_connection }}
spring.datasource.username={{ service_install_run_data_source_connection_user }}
spring.datasource.password={{ service_install_run_data_source_connection_password }}


# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL8Dialect

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto = update

############# Mail Properties ###########################################
spring.mail.host=smtp.mailtrap.io
spring.mail.port=2525
spring.mail.username= 25278c3f773d0a
spring.mail.password= 4029247491c20f
spring.mail.protocol=smtp
############ JWT Properties #####################
jwt.expiration.time=900000

