version: '3.0'
services:
  myapp1:
    image: {{ service_install_run_image }}
    container_name: reddit
    working_dir: /soufiane/etc
    command: java -jar /jar/reddit-{{ service_install_run_version }}.jar --spring.config.location=file:/etc/application.properties
    volumes:
    - /soufiane/etc/application.properties:/etc/application.properties
    ports:
    - 8080:8080



